{% extends 'blog/base.html' %}


{% block content %}
<div class="container">
    
    <div class="alert alert-primary mt-5" role="alert">
        All Material Types<a href="http://opac.sit.ac.in:8080/newgenlibctxt" class="alert-link">Click here</a>
    </div>
    <div class="alert alert-secondary" role="alert">
        Question papers <a href="http://opac.sit.ac.in:8080/newgenlibctxt/Search?searchText=computer&Index=Code+or+Department+or+Course+or+Semester&SelectedUnixNames=&From=Library&ResultSetOffset=1&LibraryId=1&FormName=QuestionPaper&ApplyFacet=false&AuthorSearch=&SubjectSearch=&ClassNumberSearch=&NewSearch=false&ExactAFId=&SortField=" class="alert-link">Click here</a>
    </div>
    <div class="alert alert-primary" role="alert">
        e-Books <a href="https://www.pdfdrive.com/computer-science-books.html" class="alert-link">Click here</a>
    </div>
    <div class="alert alert-secondary" role="alert">
        Journals  <a href="https://www.elsevier.com/physical-sciences-and-engineering/computer-science/journals" class="alert-link">Click here</a>
    </div>
</div>
{% endblock %}